automatisation/workflow-sequençage-newsletter.json
{
  "name": "La Verticale — Séquence Onboarding Abonnés",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "beehiiv-new-subscriber",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Webhook — Nouvel Abonné Beehiiv",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "REMPLACER-PAR-UUID-UNIQUE",
      "notes": "URL à copier dans les settings Beehiiv > Integrations > Webhooks. Event: subscriber.created"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.body.email ?? $json.email ?? $json.subscriber.email ?? '' }}"
            },
            {
              "name": "prenom",
              "value": "={{ ($json.body.first_name ?? $json.first_name ?? $json.subscriber.first_name ?? 'ami').trim() || 'ami' }}"
            },
            {
              "name": "nom",
              "value": "={{ $json.body.last_name ?? $json.last_name ?? $json.subscriber.last_name ?? '' }}"
            },
            {
              "name": "subscription_id",
              "value": "={{ $json.body.id ?? $json.id ?? $json.subscriber.id ?? '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Set — Extraire Données Abonné",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300],
      "notes": "Extrait email et prénom depuis le payload Beehiiv."
    },
    {
      "parameters": {
        "fromEmail": "VOTRE-EMAIL@gmail.com",
        "fromName": "La Verticale",
        "toEmail": "={{ $json.email }}",
        "subject": "Bienvenue dans La Verticale — voici comment en tirer le maximum",
        "emailType": "html",
        "message": "<!DOCTYPE html><html lang='fr'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'></head><body style='margin:0;padding:0;background-color:#0a0a0a;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' style='background-color:#0a0a0a;'><tr><td align='center' style='padding:40px 20px;'><table width='600' cellpadding='0' cellspacing='0' style='max-width:600px;width:100%;'><tr><td style='background-color:#111111;border-radius:12px 12px 0 0;padding:32px 40px;border-bottom:3px solid #e8c547;'><p style='margin:0;font-size:13px;font-weight:700;letter-spacing:3px;color:#e8c547;text-transform:uppercase;'>LA VERTICALE</p><p style='margin:6px 0 0;font-size:12px;color:#666666;letter-spacing:1px;'>Finance · Marchés · Opportunités</p></td></tr><tr><td style='background-color:#141414;padding:40px 40px 32px;'><h1 style='margin:0 0 24px;font-size:26px;font-weight:700;color:#f0f0f0;line-height:1.3;'>Bienvenue, {{ $json.prenom }} —<br><span style='color:#e8c547;'>tu viens de faire le bon choix.</span></h1><p style='margin:0 0 20px;font-size:16px;line-height:1.7;color:#cccccc;'>Je suis ravi de t'accueillir dans <strong style='color:#f0f0f0;'>La Verticale</strong>. Chaque semaine, je décortique les marchés financiers pour te donner une longueur d'avance : analyses macro, opportunités concrètes, et les mouvements à surveiller.</p><p style='margin:0 0 20px;font-size:16px;line-height:1.7;color:#cccccc;'>Pas de bruit. Pas de sensationnalisme. Juste ce qui compte vraiment pour ton portefeuille.</p><table width='100%' cellpadding='0' cellspacing='0' style='margin:32px 0;'><tr><td style='border-top:1px solid #2a2a2a;'></td></tr></table><h2 style='margin:0 0 16px;font-size:18px;font-weight:600;color:#f0f0f0;'>Ce que tu reçois chaque semaine :</h2><table width='100%' cellpadding='0' cellspacing='0'><tr><td style='padding:12px 0;border-bottom:1px solid #1e1e1e;'><p style='margin:0;font-size:15px;color:#cccccc;'><span style='color:#e8c547;font-weight:700;'>→</span> <strong style='color:#f0f0f0;'>L'analyse de la semaine</strong> — le contexte macro qui dicte les marchés</p></td></tr><tr><td style='padding:12px 0;border-bottom:1px solid #1e1e1e;'><p style='margin:0;font-size:15px;color:#cccccc;'><span style='color:#e8c547;font-weight:700;'>→</span> <strong style='color:#f0f0f0;'>Les secteurs en mouvement</strong> — où l'argent se déplace vraiment</p></td></tr><tr><td style='padding:12px 0;'><p style='margin:0;font-size:15px;color:#cccccc;'><span style='color:#e8c547;font-weight:700;'>→</span> <strong style='color:#f0f0f0;'>Le point pratique</strong> — une action concrète à considérer</p></td></tr></table><table width='100%' cellpadding='0' cellspacing='0' style='margin:32px 0;'><tr><td style='border-top:1px solid #2a2a2a;'></td></tr></table><p style='margin:0 0 24px;font-size:16px;line-height:1.7;color:#cccccc;'>Pour commencer, voici la dernière édition — histoire de voir de quoi il retourne :</p><table cellpadding='0' cellspacing='0' style='margin:0 auto 32px;'><tr><td style='background-color:#e8c547;border-radius:8px;padding:16px 36px;'><a href='LIEN-DERNIERE-EDITION' style='color:#0a0a0a;font-size:15px;font-weight:700;text-decoration:none;letter-spacing:0.5px;'>Lire la dernière édition →</a></td></tr></table><p style='margin:0;font-size:15px;line-height:1.7;color:#888888;'>À très vite,<br><strong style='color:#f0f0f0;'>VOTRE-PRENOM</strong><br><span style='color:#e8c547;'>La Verticale</span></p></td></tr><tr><td style='background-color:#0f0f0f;border-radius:0 0 12px 12px;padding:24px 40px;border-top:1px solid #1e1e1e;'><p style='margin:0;font-size:12px;color:#444444;text-align:center;line-height:1.6;'>Tu reçois cet email car tu t'es inscrit à La Verticale.<br><a href='LIEN-DESABONNEMENT' style='color:#666666;'>Se désabonner</a> · <a href='LIEN-BEEHIIV' style='color:#666666;'>Voir dans le navigateur</a></p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "1a2b3c4d-0003-0003-0003-000000000003",
      "name": "Email J0 — Bienvenue",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "smtp": {
          "id": "REMPLACER-PAR-ID-CREDENTIALS-SMTP",
          "name": "Gmail SMTP — La Verticale"
        }
      }
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 3
      },
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "Attente 3 jours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300],
      "webhookId": "REMPLACER-PAR-UUID-UNIQUE-2"
    },
    {
      "parameters": {
        "fromEmail": "VOTRE-EMAIL@gmail.com",
        "fromName": "La Verticale",
        "toEmail": "={{ $('Set — Extraire Données Abonné').item.json.email }}",
        "subject": "={{ $('Set — Extraire Données Abonné').item.json.prenom }}, voici ce que tu as manqué cette semaine",
        "emailType": "html",
        "message": "<!DOCTYPE html><html lang='fr'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'></head><body style='margin:0;padding:0;background-color:#0a0a0a;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' style='background-color:#0a0a0a;'><tr><td align='center' style='padding:40px 20px;'><table width='600' cellpadding='0' cellspacing='0' style='max-width:600px;width:100%;'><tr><td style='background-color:#111111;border-radius:12px 12px 0 0;padding:32px 40px;border-bottom:3px solid #e8c547;'><p style='margin:0;font-size:13px;font-weight:700;letter-spacing:3px;color:#e8c547;text-transform:uppercase;'>LA VERTICALE</p><p style='margin:6px 0 0;font-size:12px;color:#666666;letter-spacing:1px;'>Finance · Marchés · Opportunités</p></td></tr><tr><td style='background-color:#141414;padding:40px 40px 32px;'><h1 style='margin:0 0 24px;font-size:26px;font-weight:700;color:#f0f0f0;line-height:1.3;'>{{ $('Set — Extraire Données Abonné').item.json.prenom }}, pendant 3 jours<br><span style='color:#e8c547;'>les abonnés premium avaient une longueur d'avance.</span></h1><p style='margin:0 0 20px;font-size:16px;line-height:1.7;color:#cccccc;'>Je ne dis pas ça pour te faire culpabiliser. Je dis ça parce que c'est la réalité du marché : <strong style='color:#f0f0f0;'>l'information a une date de péremption très courte.</strong></p><p style='margin:0 0 28px;font-size:16px;line-height:1.7;color:#cccccc;'>Voici les 3 analyses que les membres premium ont reçu cette semaine :</p><table width='100%' cellpadding='0' cellspacing='0' style='margin-bottom:16px;background-color:#1a1a1a;border-radius:8px;border-left:4px solid #e8c547;overflow:hidden;'><tr><td style='padding:20px 24px;'><p style='margin:0 0 6px;font-size:11px;font-weight:700;letter-spacing:2px;color:#e8c547;text-transform:uppercase;'>Analyse #1</p><p style='margin:0 0 8px;font-size:16px;font-weight:700;color:#f0f0f0;'>TITRE-OPPORTUNITE-1</p><p style='margin:0;font-size:14px;color:#999999;line-height:1.6;'>DESCRIPTION-COURTE-OPPORTUNITE-1</p><p style='margin:12px 0 0;font-size:13px;color:#555555;'>Analyse complète réservée aux membres premium</p></td></tr></table><table width='100%' cellpadding='0' cellspacing='0' style='margin-bottom:16px;background-color:#1a1a1a;border-radius:8px;border-left:4px solid #e8c547;overflow:hidden;'><tr><td style='padding:20px 24px;'><p style='margin:0 0 6px;font-size:11px;font-weight:700;letter-spacing:2px;color:#e8c547;text-transform:uppercase;'>Analyse #2</p><p style='margin:0 0 8px;font-size:16px;font-weight:700;color:#f0f0f0;'>TITRE-OPPORTUNITE-2</p><p style='margin:0;font-size:14px;color:#999999;line-height:1.6;'>DESCRIPTION-COURTE-OPPORTUNITE-2</p><p style='margin:12px 0 0;font-size:13px;color:#555555;'>Analyse complète réservée aux membres premium</p></td></tr></table><table width='100%' cellpadding='0' cellspacing='0' style='margin-bottom:32px;background-color:#1a1a1a;border-radius:8px;border-left:4px solid #e8c547;overflow:hidden;'><tr><td style='padding:20px 24px;'><p style='margin:0 0 6px;font-size:11px;font-weight:700;letter-spacing:2px;color:#e8c547;text-transform:uppercase;'>Analyse #3</p><p style='margin:0 0 8px;font-size:16px;font-weight:700;color:#f0f0f0;'>TITRE-OPPORTUNITE-3</p><p style='margin:0;font-size:14px;color:#999999;line-height:1.6;'>DESCRIPTION-COURTE-OPPORTUNITE-3</p><p style='margin:12px 0 0;font-size:13px;color:#555555;'>Analyse complète réservée aux membres premium</p></td></tr></table><table width='100%' cellpadding='0' cellspacing='0' style='margin:0 0 28px;'><tr><td style='border-top:1px solid #2a2a2a;'></td></tr></table><p style='margin:0 0 24px;font-size:16px;line-height:1.7;color:#cccccc;'>La semaine prochaine, il y aura d'autres analyses. <strong style='color:#f0f0f0;'>Tu veux être dans la boucle ?</strong></p><table cellpadding='0' cellspacing='0' style='margin:0 auto 32px;'><tr><td style='background-color:#e8c547;border-radius:8px;padding:16px 36px;'><a href='LIEN-OFFRE-PREMIUM' style='color:#0a0a0a;font-size:15px;font-weight:700;text-decoration:none;letter-spacing:0.5px;'>Passer en premium →</a></td></tr></table><p style='margin:0;font-size:15px;line-height:1.7;color:#888888;'>À bientôt,<br><strong style='color:#f0f0f0;'>VOTRE-PRENOM</strong><br><span style='color:#e8c547;'>La Verticale</span></p></td></tr><tr><td style='background-color:#0f0f0f;border-radius:0 0 12px 12px;padding:24px 40px;border-top:1px solid #1e1e1e;'><p style='margin:0;font-size:12px;color:#444444;text-align:center;line-height:1.6;'>Tu reçois cet email car tu t'es inscrit à La Verticale.<br><a href='LIEN-DESABONNEMENT' style='color:#666666;'>Se désabonner</a> · <a href='LIEN-BEEHIIV' style='color:#666666;'>Voir dans le navigateur</a></p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Email J3 — Teaser Premium",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 300],
      "credentials": {
        "smtp": {
          "id": "REMPLACER-PAR-ID-CREDENTIALS-SMTP",
          "name": "Gmail SMTP — La Verticale"
        }
      }
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 4
      },
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Attente 4 jours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 300],
      "webhookId": "REMPLACER-PAR-UUID-UNIQUE-3"
    },
    {
      "parameters": {
        "fromEmail": "VOTRE-EMAIL@gmail.com",
        "fromName": "La Verticale",
        "toEmail": "={{ $('Set — Extraire Données Abonné').item.json.email }}",
        "subject": "={{ $('Set — Extraire Données Abonné').item.json.prenom }}, 14 jours offerts — sans carte bancaire",
        "emailType": "html",
        "message": "<!DOCTYPE html><html lang='fr'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width, initial-scale=1.0'></head><body style='margin:0;padding:0;background-color:#0a0a0a;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;'><table width='100%' cellpadding='0' cellspacing='0' style='background-color:#0a0a0a;'><tr><td align='center' style='padding:40px 20px;'><table width='600' cellpadding='0' cellspacing='0' style='max-width:600px;width:100%;'><tr><td style='background-color:#111111;border-radius:12px 12px 0 0;padding:32px 40px;border-bottom:3px solid #e8c547;'><p style='margin:0;font-size:13px;font-weight:700;letter-spacing:3px;color:#e8c547;text-transform:uppercase;'>LA VERTICALE</p><p style='margin:6px 0 0;font-size:12px;color:#666666;letter-spacing:1px;'>Finance · Marchés · Opportunités</p></td></tr><tr><td style='background-color:#1a1500;padding:16px 40px;border-bottom:1px solid #2a2000;'><p style='margin:0;font-size:13px;font-weight:700;color:#e8c547;text-align:center;letter-spacing:1px;'>OFFRE LIMITÉE — 14 JOURS D'ESSAI GRATUIT</p></td></tr><tr><td style='background-color:#141414;padding:40px 40px 32px;'><h1 style='margin:0 0 24px;font-size:26px;font-weight:700;color:#f0f0f0;line-height:1.3;'>{{ $('Set — Extraire Données Abonné').item.json.prenom }}, voici une offre<br><span style='color:#e8c547;'>que je ne refais pas souvent.</span></h1><p style='margin:0 0 20px;font-size:16px;line-height:1.7;color:#cccccc;'>Tu lis La Verticale depuis une semaine. Tu sais déjà que la qualité est là. Maintenant je t'offre l'occasion de voir ce que ça donne quand on enlève le filtre.</p><p style='margin:0 0 32px;font-size:16px;line-height:1.7;color:#cccccc;'><strong style='color:#f0f0f0;'>14 jours d'accès premium. Gratuit. Sans carte bancaire.</strong> Tu accèdes à tout, tu testes, et tu décides à la fin si ça vaut le coup de rester.</p><table width='100%' cellpadding='0' cellspacing='0' style='background-color:#1a1a1a;border-radius:10px;margin-bottom:32px;overflow:hidden;'><tr><td style='padding:24px 28px;'><p style='margin:0 0 20px;font-size:14px;font-weight:700;letter-spacing:2px;color:#e8c547;text-transform:uppercase;'>Ce que tu débloques :</p><table width='100%' cellpadding='0' cellspacing='0'><tr><td style='padding:10px 0;border-bottom:1px solid #242424;'><p style='margin:0;font-size:15px;color:#f0f0f0;'><span style='color:#e8c547;'>✓</span>  Analyses premium chaque semaine</p></td></tr><tr><td style='padding:10px 0;border-bottom:1px solid #242424;'><p style='margin:0;font-size:15px;color:#f0f0f0;'><span style='color:#e8c547;'>✓</span>  Les setups d'opportunités avant tout le monde</p></td></tr><tr><td style='padding:10px 0;border-bottom:1px solid #242424;'><p style='margin:0;font-size:15px;color:#f0f0f0;'><span style='color:#e8c547;'>✓</span>  Accès à toutes les archives premium</p></td></tr><tr><td style='padding:10px 0;'><p style='margin:0;font-size:15px;color:#f0f0f0;'><span style='color:#e8c547;'>✓</span>  AVANTAGE-PREMIUM-SUPPLEMENTAIRE</p></td></tr></table></td></tr></table><table width='100%' cellpadding='0' cellspacing='0' style='background-color:#0f0f0f;border-radius:8px;border:1px solid #2a2a2a;margin-bottom:32px;'><tr><td style='padding:20px 24px;'><p style='margin:0 0 8px;font-size:14px;font-weight:700;color:#888888;'>Et après les 14 jours ?</p><p style='margin:0;font-size:14px;color:#777777;line-height:1.6;'>Rien ne se passe automatiquement. Si tu veux continuer, tu choisis un abonnement. Si non, tu restes en accès gratuit. Pas de surprise, pas de prise de tête.</p></td></tr></table><table cellpadding='0' cellspacing='0' style='width:100%;margin-bottom:16px;'><tr><td style='background-color:#e8c547;border-radius:8px;padding:18px 36px;text-align:center;'><a href='LIEN-ESSAI-GRATUIT-14-JOURS' style='color:#0a0a0a;font-size:16px;font-weight:700;text-decoration:none;letter-spacing:0.5px;'>Démarrer mon essai gratuit — 14 jours →</a></td></tr></table><p style='margin:0 0 32px;font-size:13px;color:#555555;text-align:center;'>Sans carte bancaire · Annulation en 1 clic</p><table width='100%' cellpadding='0' cellspacing='0' style='margin:0 0 28px;'><tr><td style='border-top:1px solid #2a2a2a;'></td></tr></table><p style='margin:0;font-size:15px;line-height:1.7;color:#888888;'>Je t'enverrai un rappel avant la fin de l'essai. Pas de mauvaise surprise.<br><br><strong style='color:#f0f0f0;'>VOTRE-PRENOM</strong><br><span style='color:#e8c547;'>La Verticale</span></p></td></tr><tr><td style='background-color:#0f0f0f;border-radius:0 0 12px 12px;padding:24px 40px;border-top:1px solid #1e1e1e;'><p style='margin:0;font-size:12px;color:#444444;text-align:center;line-height:1.6;'>Tu reçois cet email car tu t'es inscrit à La Verticale.<br><a href='LIEN-DESABONNEMENT' style='color:#666666;'>Se désabonner</a> · <a href='LIEN-BEEHIIV' style='color:#666666;'>Voir dans le navigateur</a></p></td></tr></table></td></tr></table></body></html>",
        "options": {}
      },
      "id": "1a2b3c4d-0007-0007-0007-000000000007",
      "name": "Email J7 — Offre Essai Premium",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1560, 300],
      "credentials": {
        "smtp": {
          "id": "REMPLACER-PAR-ID-CREDENTIALS-SMTP",
          "name": "Gmail SMTP — La Verticale"
        }
      }
    }
  ],
  "connections": {
    "Webhook — Nouvel Abonné Beehiiv": {
      "main": [[{"node": "Set — Extraire Données Abonné", "type": "main", "index": 0}]]
    },
    "Set — Extraire Données Abonné": {
      "main": [[{"node": "Email J0 — Bienvenue", "type": "main", "index": 0}]]
    },
    "Email J0 — Bienvenue": {
      "main": [[{"node": "Attente 3 jours", "type": "main", "index": 0}]]
    },
    "Attente 3 jours": {
      "main": [[{"node": "Email J3 — Teaser Premium", "type": "main", "index": 0}]]
    },
    "Email J3 — Teaser Premium": {
      "main": [[{"node": "Attente 4 jours", "type": "main", "index": 0}]]
    },
    "Attente 4 jours": {
      "main": [[{"node": "Email J7 — Offre Essai Premium", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {"id": "tag-laverticale", "name": "La Verticale"},
    {"id": "tag-onboarding", "name": "Onboarding"}
  ],
  "triggerCount": 1,
  "id": "laverticale-onboarding-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "1"
}
